// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





h1 h2 h4 {
  font-family: "Mini_Serif-bold";
}

h1 {
  font-size: 3.0vmax;
}

h2 {
  font-size: 1.75vmax;
}

h4 {
  font-size: 1.25vmax;
}

p {
  font-family: "Mini_Serif-regular";
}

button {
  color: #FFFFFF;
  font-weight: 100;
  background-color: #000000;
  cursor: pointer;
  overflow: hidden;
  transition: all 500ms ease;
}

button:hover {
  background-color: #FFFFFF;
  color: #000000;
  box-shadow: inset 0 0 0 3px #000000;
}

body {
  height: 300vh;
}

@media screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50vh 150vh 100vh;



  }

  .item2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 20% 20% 20% 20%;
  }
  .header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: center;
    font-family: "Mini_Serif-bold";
    align-items: center;
    justify-items: center;
  }
  .infopanel1 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .infopanel2 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }
  .infopic1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    overflow: hidden;
  }
  .infopic2 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    display: grid;
    overflow: hidden;
  }
  .infopic1 img {
    width: 100%;
    align-self: center;
    vertical-align: middle;
    overflow: hidden;
    min-height: 100%;
  }
  .infopic2 img {
    width: 100%;
    align-self: center;
    vertical-align: middle;
    overflow: hidden;
    min-height: 100%;
  }
}

@media screen and (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 100vh [row-start])
  }
  .item2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 40% 40%;
  }
  .header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-align: center;
    font-family: "Mini_Serif-bold";
    align-items: center;
    justify-items: center;
  }
  .infopanel1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .infopanel2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .infopic1 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    overflow: hidden;
  }
  .infopic2 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: grid;
    overflow: hidden;
  }
  .infopic1 img {
    width: 100%;
    align-self: center;
    vertical-align: middle;
    overflow: hidden;
    min-height: 100%;
  }
  .infopic2 img {
    width: 100%;
    align-self: center;
    vertical-align: middle;
    overflow: hidden;
    min-height: 100%;
  }
}

.item1 {
  display: grid;
  grid-template-columns: 2.5% 32.5% 30% 32.5% 2.5%;
  grid-template-rows: 2.5% 17.5% 17.5% auto 2.5%;
  animation-duration: 5s;
}


.item3 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% auto 10%;
}

.infopanel2 {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 15% 30% 40% 15%;
}

.infofirst {
  grid-row: 2 / 3;
  grid-column: 1 /2;
}

.infosecond {
  grid-row: 2/3;
  grid-column: 2 / 3;
}

.infotitle {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align: center;
}

.infopic {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  overflow: hidden;
  img {
    width: 100%;
    overflow: hidden;
  }
}

.infoinfo {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.infobutton {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 40% 10% 40% 5%;
}

.view_details_button {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.book_test_drive_button {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}
.youtube {
  grid-column: 2 / 5;
  grid-row: 2 / 5;
}

.vidtitle {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  color: white;
  text-align: center;
  animation-duration: 5s;
}

.infopanel {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 50% 20% 20%;
}

.topcopy {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.buttons {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 5% 40% 10% 40% 5%;
  grid-template-rows: 20% 60% 20%;
}

.learn_more_button {
  grid-column: 2 / 3 ;
  grid-row: 2 / 3;
}

.build_price_button {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}




@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}